<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>PureHer.Co | {{ page_title }}</title>
  {{ content_for_header }}
  <link href="{{ 'theme.css' | asset_url }}" rel="stylesheet">
</head>
<body>
  <main role="main">
    {{ content_for_layout }}
  </main>
</body>
</html>
